{% extends "../base.html" %}

{% block title %}
<a href="/admin"><h1 id="title">{{ title }} Admin</h1></a>
{% endblock %}

{% block content %}

  <div class="frame" id="admin">
    
    <nav>
      <ul>
        <li {% if overview_selected %} class="selected" {% endif %}>
          <a href="/admin/services">Services</a></li>

        <li {% if overview_selected %} class="selected" {% endif %}>
          <a href="/admin/statuses">Statuses</a></li>
          
        <li {% if rest_selected %} class="selected" {% endif %}>
          <a href="/admin/credentials">API Credentials</a></li>
          
      </ul>
    </nav>
    
    <div>
      
      {% block document %}
      
      {% endblock %}
      
    </div>
    
    <script type="text/javascript">
    $("code").addClass("prettyprint");
    prettyPrint();
    </script>
    
  </div>

{% endblock %}

